pipeline/PL_CHILD_EXT_BLOB_ADLS_RAW_FILE_PROCESS.json
{
	"name": "PL_CHILD_EXT_BLOB_ADLS_RAW_FILE_PROCESS",
	"properties": {
		"activities": [
			{
				"name": "ACT_ITRC_FOR_FunctionalPurpose",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ACT_LOGGER_3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.FileList",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "ACT_MT_Copy_Blob_Adls",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ACT_LOGGER_5",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_ABLB_BINARY_COPY_Source",
									"type": "DatasetReference",
									"parameters": {
										"SourceFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_BINARY_ADLSTarget",
									"type": "DatasetReference",
									"parameters": {
										"TargetFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ACT_MT_Copy_ADLS_Failure",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ACT_LOGGER_7",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_ABLB_BINARY_FILE",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_BINARY_ADLSFailure",
									"type": "DatasetReference",
									"parameters": {
										"FailureFileName": {
											"value": "@concat(\n    substring(item().name, 0, indexOf(item().name,'.')), \n    '_',\n    formatDateTime(utcNow(),'yyyyMMdd_HHmmss'), \n    substring(item().name, indexOf(item().name,'.'), sub(length(item().name), indexOf(item().name,'.'))) \n)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ACT_MT_Copy_ADLS_Archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "ACT_LOGGER_6",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_ABLB_BINARY_COPY_Source",
									"type": "DatasetReference",
									"parameters": {
										"SourceFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_BINARY_ADLSArchive",
									"type": "DatasetReference",
									"parameters": {
										"ArchiveFileName": {
											"value": "@concat(\n    substring(item().name, 0, indexOf(item().name,'.')), \n    '_',\n    formatDateTime(utcNow(),'yyyyMMdd_HHmmss'), \n    substring(item().name, indexOf(item().name,'.'), sub(length(item().name), indexOf(item().name,'.'))) \n)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ACT_MT_DELETE_FunctionalPurpose",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "ACT_LOGGER_8",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ABLB_BINARY_Source_Delete",
									"type": "DatasetReference",
									"parameters": {
										"SourceFileDelete": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "ACT_MT_DELETE_FunctionalPurpose_copy1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "ACT_LOGGER_9",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ABLB_BINARY_Source_Delete",
									"type": "DatasetReference",
									"parameters": {
										"SourceFileDelete": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "ACT_LOGGER_3_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ACT_MT_DELETE_FunctionalPurpose",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								},
								{
									"activity": "ACT_MT_DELETE_FunctionalPurpose_copy1",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audit].[usp_Insert_Log]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "\"CHILD_PIPELINE_CALL\"",
										"type": "String"
									},
									"ErrorMessage": {
										"type": "String"
									},
									"FileName": {
										"value": "",
										"type": "String"
									},
									"PipelineName": {
										"value": "\"PL_CHILD_EXT_BLOB_ADLS_RAW_FILE_PROCESS\"",
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "\"STARTED\"",
										"type": "String"
									},
									"StepName": {
										"value": "\"START_CHILD\"",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_LogPipelineStart",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ACT_LOGGER_7",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ACT_MT_Copy_Blob_Adls",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audit].[usp_Insert_Log]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "\"COPY\"",
										"type": "String"
									},
									"ErrorMessage": {
										"value": "\"Access denied\"",
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "\"FAILED\"",
										"type": "String"
									},
									"StepName": {
										"value": "\"FAILED\"",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_LogPipelineStart",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ACT_LOGGER_6",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ACT_MT_Copy_Blob_Adls",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audit].[usp_Insert_Log]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "\"Copy File\"",
										"type": "String"
									},
									"ErrorMessage": {
										"value": {
											"value": "@concat(item().name, 'copied to target')",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "\"Success\"",
										"type": "String"
									},
									"StepName": {
										"value": "\"COPY\"",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_LogPipelineStart",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ACT_LOGGER_8",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ACT_MT_Copy_ADLS_Archive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audit].[usp_Insert_Log]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "\"COPY\"",
										"type": "String"
									},
									"ErrorMessage": {
										"value": "\"SUCCESS\"",
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "\"SUCCESS\"",
										"type": "String"
									},
									"StepName": {
										"value": "\"ARCHIVE\"",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_LogPipelineStart",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ACT_LOGGER_9",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ACT_MT_Copy_ADLS_Failure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audit].[usp_Insert_Log]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "\"COPY\"",
										"type": "String"
									},
									"ErrorMessage": {
										"value": "\"Files copied to failure path\"",
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "\"SUCCESS\"",
										"type": "String"
									},
									"StepName": {
										"value": "\"Copy failure",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_LogPipelineStart",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ACT_LOGGER_5",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[audit].[usp_Insert_Log]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "\"COPY",
										"type": "String"
									},
									"ErrorMessage": {
										"value": "\"Copy started\"",
										"type": "String"
									},
									"FileName": {
										"value": "",
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "\"START",
										"type": "String"
									},
									"StepName": {
										"value": "\"COPY_START\"",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_AzureSQL_LogPipelineStart",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ACT_LOGGER_3",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[usp_Insert_Log]",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": "\"CHILD_PIPELINE_CALL\"",
							"type": "String"
						},
						"ErrorMessage": {
							"value": "\"Child pipeline started\"",
							"type": "String"
						},
						"FileName": {
							"value": "",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "\"STARTED\"",
							"type": "String"
						},
						"StepName": {
							"value": "\"START_CHILD\"",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_LogPipelineStart",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ACT_LOGGER_4",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ACT_ITRC_FOR_FunctionalPurpose",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[usp_Insert_Log]",
					"storedProcedureParameters": {
						"ActivityName": {
							"value": "\"CHILD_PIPELINE_END\"",
							"type": "String"
						},
						"ErrorMessage": {
							"value": "\"Child pipeline ended\"",
							"type": "String"
						},
						"FileName": {
							"value": "",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": "\"ENDED\"",
							"type": "String"
						},
						"StepName": {
							"value": "\"END_CHILD\"",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_LogPipelineStart",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"FileList": {
				"type": "array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-23T16:34:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}