pipeline/PL_EXT_BLOB_TGT_ADLS_RAW_Full_ADHOC.json
{
	"name": "PL_EXT_BLOB_TGT_ADLS_RAW_Full_ADHOC",
	"properties": {
		"activities": [
			{
				"name": "ACT_GEN_META_ListFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ABLB_BINARY_FILE",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ACT_ITRC_IF_FunctionalPurpose_FileExistance",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ACT_GEN_META_ListFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('ACT_GEN_META_ListFiles').output.childItems),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ACT_GEN_EmailNotification",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": "https://prod-24.centralindia.logic.azure.com:443/workflows/e8a63768703b4297a856c793d4f6ef64/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=BaTF6qJy0eJhztlj9hmV8MCyLTB19mIitdCwh1fs5pw",
								"body": {
									"value": "{\n  \"To\":\"mhaskeakash491@gmail.com;priyaintellibi@gmail.com\",\n  \"Subject\": \"Raw load status failure alert\",\n  \"Body\":\"Hi Team,\n  There is no files available at Azure Blob Storage(Source) to process ADLS(Raw Layer). Kindly verify and take necessary action...!\"\n}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "ACT_BLOB_FILE_MISSING",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "ACT_GEN_EmailNotification",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "\"Input files not exist at blob storage (Source)\"",
								"errorCode": "ERR_FILE_NOT_FOUND"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "ACT_GEN_EPIPE_ProcessFiles",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_CHILD_EXT_BLOB_ADLS_RAW_FILE_PROCESS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"FileList": {
										"value": "@activity('ACT_GEN_META_ListFiles').output.childItems",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-03-23T14:56:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}